@font-face{
  font-family: 'pokemon';
  src: url('./assets/fonts/Pokemon-Hollow.ttf')

}

@font-face{
  font-family: 'pokemon-solid';
  src: url('./assets/fonts/Pokemon-Solid.ttf')

}


.App {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://wallpapercave.com/wp/cqhO8rQ.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  height: 300px;
  width: 300px;
}

.poke-button:hover {
  background-color: gray;
}

.poke-button {
  cursor: pointer;
  border: 1px solid red;
  width: 100px;
  height: 30px;
  text-align: center;
  margin: 5px;
}

.desc-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0353A4;
  background-color: #FFF275;
  opacity: 0.5;
  border-radius: 6px;
  width: 600px;
  height:400px;
  margin-top: 50px;
  color: #253C78;
  font-weight: bold;
}

.desc {
  line-height: 1.7; 
  letter-spacing: 1.3px;
  font-family: 'pokemon-solid';
  border: 1px solid #0353A4;
  border-radius: 6px;
  width: 600px;
  /* height:400px; */
  margin-top: 50px;
  padding-bottom: 30px;
  color: #253C78;
  background-color: #FFF275;
  opacity: 0.8;
}

.img {
  margin-top: 50px;
  max-width: 200px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-family: 'pokemon'
}